body {
    margin: 0;
    background-color: black;
    font-family: Arial;
    color: antiquewhite;
}
.main_div {
    position: relative;
    margin:0 auto;
    top: 10vh;
    width: 80vw;
    height: 100%;
    background-color: #2a2b2a;
    border-radius: 50px;
}
.middle_div {
    position: relative;
    display: grid;
    top: 50px;
    left: 5vw;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: 500px;
    gap: 20px;
    width: 100%;
    height: 90%;
}
.block_div {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #545e56;
    border-radius: 25px;
}
.accept_button {
    position: relative;
    margin: 20px 0 0 0;
    left: 175px;
    height: 60px;
    width: 150px;
    font-size: 22px;
    font-weight: 600;
    color: aliceblue;
    background-color: #90e39a;
    border-radius: 26px;
    border: none;
}
.enter_game_div > h1 {
    margin: 0 0 0 0;
    color: #90e39a;
    text-align: center;
}
.enter_game_div > input {
    margin: 20px 10% 0 10%;
    width: 80%;
}
.table_leaderboard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 400px;
}
.table_leaderboard > div > h3 {
    margin:  0 0 0 0;
    font-size: 22px;
    text-align: center;
}