body {
    margin: 0;
    background-color: black;
    font-family: Arial;
    color: antiquewhite;
}
.main_div {
    position: relative;
    margin:0 auto;
    top: 10vh;
    width: 80vw;
    height: 1200px;
    background-color: #2a2b2a;
    border-radius: 50px;
}
.middle_div {
    position: relative;
    display: grid;
    top: 50px;
    left: 5vw;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: 500px;
    gap: 20px;
    width: 100%;
    height: 90%;
}
.play_div {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #545e56;
    border-radius: 25px;
}
.customization_div {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #545e56;
    border-radius: 25px;
}
.leaderboard_div {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #545e56;
    border-radius: 25px;
}
.shop_div {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #545e56;
    border-radius: 25px;
}
.info_div {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #545e56;
    border-radius: 25px;
}