body {
    margin: 0;
    background-color: black;
    font-family: Arial;
    color: antiquewhite;
}
canvas {
    display: none;
    z-index: 1;
}
.main_div {
    position: relative;
    margin:0 auto;
    top: 5vh;
    width: 90vw;
    height: 100%;
    background-color: #2a2b2a;
    border-radius: 50px;
}
.middle_div {
    position: relative;
    display: grid;
    top: 50px;
    left: 5vw;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: 500px;
    gap: 20px;
    width: 100%;
    height: 120vh;
}
.accept_glow {
    box-shadow: 0px 0px 18px 3px #a5b3df;
}
.block_div {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #545e56;
    border-radius: 25px;
}
.block_div > h2 {
    position: relative;
    font-size: 40px;
    text-align: center;
}
.skin_view {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: tomato;
    border: 5px solid #283d3b;
    border-radius: 50%;
}
.skin_view > h2 {
    position: relative;
    margin: 80px 0 0 0;
    text-align: center;
}
.skin_buttons {
    display: inline-block;
    margin: 0px 20px 0px 20px;
}
.accept_button {
    position: relative;
    margin: 20px 0 0 0;
    height: 60px;
    width: 150px;
    font-size: 22px;
    font-weight: 600;
    color: aliceblue;
    background-color: #90e39a;
    border-radius: 26px;
    border: none;
    transition-duration: 0.2s;
}
.accept_button:active {background-color: #6c9371}
.prev_next_button {
    position: relative;
    margin: 20px 0 0 0;
    height: 60px;
    width: 150px;
    font-size: 22px;
    font-weight: 600;
    color: aliceblue;
    background-color: #7293a0;
    border-radius: 26px;
    border: none;
    transition-duration: 0.2s;
}
.prev_next_button:active {background-color: aliceblue}
.enter_game_div > h1 {
    margin: 0 0 0 0;
    color: #90e39a;
    text-align: center;
}
.enter_game_div > input {
    all: unset;
    margin: 20px 10% 0 10%;
    height: 50px;
    border-radius: 25px;
    background-color: #2a2b2a;
    font-size: 22px;
    text-align: center;
  }
.enter_game_div > button {
    left: 170px;
}
.enter_game_div > input {
    margin: 20px 10% 0 10%;
    width: 80%;
}
.shop_options {
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
    height: 200px;
}
.unlock_items {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 5px solid #283d3b;
    border-radius: 50%;
    background-color: turquoise;
}
.shop_unlock_button {
    position: relative;
    left: 170px;
}
.table_leaderboard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    width: 100%;
    height: 250px;
}
.table_leaderboard > div > h3 {
    margin:  0 0 0 0;
    font-size: 22px;
    text-align: center;
}
.scores_number {
    background-color: #2a2b2a;
    font-weight: 600;
    width: 35px;
}
.your_position_leaderboard {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    height: 130px;
    width: 100%;
}
.your_position_leaderboard > h3 {
    margin: 0;
}
.your_position_leaderboard > h3 > p {
    margin: 0 0 0 0;
    background-color: #283d3b;
}
.gameOverUI {
    position: absolute;
    display: none;
    z-index: 2;
    top: 200px;
    left: 10vh;
    height: 400px;
    width: 80vw;
    background-color: #545e56;
    border-radius: 25px;
    text-align: center;
    font-size: 36px;
}
.firebase-PlayerNickname {
font-weight: 600;
color: #f4d35e;
}
.firebase-Position-Number {
    font-weight: 600;
    color: tomato;
}